<h1><a href='<%= @post.url %>'><%= @post.title %></a><small><%= " (" + @post.url + ")" if @post.url %></small></h1>
<div class="specific-post"><%= @post.post_votes.count %> votes.  Created by <%= @post.user.email %> | <%= @post.comments.count %> comments

<form action="/vote/post/<%= @post.id %>/new" method="post" class="login-box">
  <input type="submit" value="Vote" class="btn">
</form>

</div>

<div class="page-header"></div>

<div class="specific-post">

<% if @user %>




<% if @comment %>
  <% @comment.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<form action="/comment/new/<%= @post.id %>" method="post" class="login-box">
  <textarea name="content" cols="25" rows="5">Your pity comment</textarea><br>
  <input type="submit" value="Add comment" class="btn">
</form>

<% end %>

</div>

<% unless @post.comments.empty? %>
  <% @post.comments.each do |c| %>
  <div class="hero-unit">
    <p><%= c.content %></p>
    <p>Created on <%= c.created_at.strftime('%B %d, %Y') %> by <%= c.user.email %> | <a href= "/comment/<%= c.id %>">link</a></p>
    <p class="label label-success"><%= c.comment_votes.count %> votes</p>
    
    <% if @user %>

    <form action="/vote/comment/<%= c.id %>/new" method="post" class="login-box">
        <input type="submit" value="Vote" class="btn">
        </form>

    <% end %>

  </div>
  <% end  %>
<% else %>
  <h2>Hope you get some comments soon!</h2>
<% end %>


